<div class="main-container">
  <div class="head-text">with 'false' value</div>
  <button
    mat-flat-button
    color="primary"
    [isViewerDisabled]="false"
    (click)="onClick()"
  >
    click me
  </button>

  <div class="head-text">with 'true' value</div>
  <button
    mat-flat-button
    color="primary"
    [isViewerDisabled]="true"
    (click)="onClick()"
  >
    click me
  </button>

  <div class="head-text">with custom tooltip</div>
  <button
    mat-flat-button
    color="primary"
    [isViewerDisabled]="true"
    viewerTooltip="You are not welcome #1"
    (click)="onClick()"
  >
    click me
  </button>

  <div class="head-text">default material disabled with directive</div>
  <button
    mat-flat-button
    color="primary"
    [isViewerDisabled]="true"
    viewerTooltip="You are not welcome #2"
    (click)="onClick()"
    disabled
  >
    click me
  </button>

  <div class="head-text">default material disabled</div>
  <button mat-flat-button color="primary" (click)="onClick()" disabled>
    click me
  </button>
</div>
